<span></span>
<h2 class="ui header">
  Set completion
</h2>
<table class="ui definition stack-with-columns table">
  <thead>
  <tr>
    <th>By rarity</th>
    <th *ngFor="let field of fields">{{ field.name | prTitleCase }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let rarity of rarities">
    <td>{{ (long(rarity) || rarity) | prTitleCase }}</td>
    <td *ngFor="let field of fields">
      <strong class="inline-heading">{{ field.name | prTitleCase }}: </strong>
      {{ (ss.completion.byRarity | async)[rarity][field.prop] }}
      <span class="percentage">{{ getPercent((ss.completion.byRarity | async)[rarity], field.prop) }}</span>
    </td>
  </tr>
  </tbody>
</table>
<table class="ui definition stack-with-columns table">
  <thead>
  <tr>
    <th>By class</th>
    <th *ngFor="let field of fields">{{ field.name | prTitleCase }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let klass of classes | async">
    <td>{{ klass | prTitleCase }}</td>
    <td *ngFor="let field of fields">
      <strong class="inline-heading">{{ field.name | prTitleCase }}: </strong>
      {{ (ss.completion.byClass | async)[klass][field.prop] }}
      <span class="percentage">{{ getPercent((ss.completion.byClass | async)[klass], field.prop) }}</span>
    </td>
  </tr>
  </tbody>
</table>
