<span></span>
<h2 class="ui header">
  Set completion
</h2>
<h3 class="ui header">
  By rarity
</h3>
<table class="ui definition stack-with-columns table">
  <thead>
  <tr>
    <th></th>
    <th *ngFor="let field of completionFields">{{ field.name | prTitleCase }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let rarity of rarities">
    <td>{{ (long(rarity) || rarity) | prTitleCase }}</td>
    <td *ngFor="let field of completionFields">
      <strong class="inline-heading">{{ field.name | prTitleCase }}: </strong>
      {{ (ss.completion.byRarity | async)[rarity][field.prop] }}
      <span class="percentage">{{ getCompletionPercentage((ss.completion.byRarity | async)[rarity], field.prop) }}</span>
    </td>
  </tr>
  </tbody>
</table>
<h3 class="ui header">
  By class
</h3>
<table class="ui definition stack-with-columns table">
  <thead>
  <tr>
    <th></th>
    <th *ngFor="let field of completionFields">{{ field.name | prTitleCase }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let klass of classes | async">
    <td>{{ klass | prTitleCase }}</td>
    <td *ngFor="let field of completionFields">
      <strong class="inline-heading">{{ field.name | prTitleCase }}: </strong>
      {{ (ss.completion.byClass | async)[klass][field.prop] }}
      <span class="percentage">{{ getCompletionPercentage((ss.completion.byClass | async)[klass], field.prop) }}</span>
    </td>
  </tr>
  </tbody>
</table>
<h2 class="ui header">
  Card opening stats
</h2>
<table class="ui definition stack-with-columns table">
  <thead>
  <tr>
    <th></th>
    <th *ngFor="let field of cardFields">{{ field.name | prTitleCase }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let rarity of rarities">
    <td>{{ (long(rarity) || rarity) | prTitleCase }}</td>
    <td *ngFor="let field of cardFields">
      <strong class="inline-heading">{{ field.name | prTitleCase }}: </strong>
      {{ (ss.card | async)[rarity][field.prop] }}
      <span class="percentage">{{ getCardPercentage(ss.card | async, rarity, field.prop) }}</span>
    </td>
  </tr>
  </tbody>
</table>
<pr-legend><p>
  Percentages in the Total and Regular columns are relative to all cards opened.
  That is, if you opened 100 cards of which 70 are common then Total &gt; Common would show (70%).<br/>
  The Golden column shows percentages relative to the total of the same rarity.
  For example, if you opened 10 rares of which 2 are golden then Golden &gt; Rare would show (20%).<br/>
  The Extra columns (Regular Extra and Golden Extra) show how many cards you can freely disenchant because you have
  more of that card than you can put in a deck. In these columns the percentages are relative to the same rarity.
  That is, if you opened 3 golden epics of which 1 is extra, then Golden Extra &gt; Epic would show (33.3%).
</p></pr-legend>
<h2 class="ui header">
  Dust stats
</h2>
<table class="ui definition stack-with-columns table">
  <thead>
  <tr>
    <th></th>
    <th *ngFor="let field of dustFields">{{ field.name | prTitleCase }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let rarity of rarities">
    <td>{{ (long(rarity) || rarity) | prTitleCase }}</td>
    <td *ngFor="let field of dustFields">
      <strong class="inline-heading">{{ field.name | prTitleCase }}: </strong>
      {{ (ss.dust | async)[rarity][field.prop] }}
    </td>
  </tr>
  </tbody>
</table>
