:host {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;

  @media only screen and (max-width: 767px) {
    top: -1.5em;
  }
}

.container {
  margin-right: 1em;
  position: absolute;
  position: sticky;
  right: 0;
  top: 1em;
  z-index: 9999;
}
