@import '../mixins';

:host {
  position: relative;

  &.legend .count {
    display: none;
  }
}

.clickable {
  cursor: pointer;
}

.gold {
  font-weight: bold;
}

.extra {
  opacity: 0.5;
}

.overlay {
  @include increase-specificity(2) {
    bottom: calc(100% - 0.4em);
    left: 0;
    position: absolute;
    right: 0;
  }
}

.image {
  height: auto;
  width: 100%;
}
