<div *ngFor="let klass of classes | async">
  <span></span>
  <h2 class="ui header">
    {{ klass | prTitleCase }}
    <span class="sub header">
      Completion:
      {{ (ss.completion.byClass | async)[klass].any }}/{{ (ss.completion.byClass | async)[klass].target }}
      <span class="percentage">{{ getPercent((ss.completion.byClass | async)[klass], 'any') }}</span>
    </span>
  </h2>
  <div class="ui padded collapsed grid">
    <div class="five column doubling collapsed row">
      <pr-card class="column" [name]="card.name" [rarity]="getRarity(card.rarity)"
               [count]="getCount(collection | async, klass, card.name, 'norm')"
               [goldCount]="getCount(collection | async, klass, card.name, 'gold')"
               *ngFor="let card of (cards | async)[klass]"></pr-card>
    </div>
  </div>
</div>
<pr-legend>
  <div class="four column doubling collapsed row">
    <pr-card class="column" [name]="'Card'" [count]="'(Regular Count)'" [goldCount]="'(Golden Count)'"></pr-card>
  </div>
  <div class="four column doubling collapsed row">
    <pr-card class="column legend" [name]="'Zero Commons'" [count]="0" [rarity]="'comn'" [cost]="'norm'"></pr-card>
    <pr-card class="column legend" [name]="'Zero Rares'" [count]="0" [rarity]="'rare'" [cost]="'norm'"></pr-card>
    <pr-card class="column legend" [name]="'Zero Epics'" [count]="0" [rarity]="'epic'" [cost]="'norm'"></pr-card>
    <pr-card class="column legend" [name]="'Zero Legendaries'" [count]="0" [rarity]="'lgnd'" [cost]="'norm'"></pr-card>
    <pr-card class="column legend" [name]="'One Common'" [count]="1" [rarity]="'comn'" [cost]="'norm'"></pr-card>
    <pr-card class="column legend" [name]="'One Rare'" [count]="1" [rarity]="'rare'" [cost]="'norm'"></pr-card>
    <pr-card class="column legend" [name]="'One Epic'" [count]="1" [rarity]="'epic'" [cost]="'norm'"></pr-card>
    <pr-card class="column legend" [name]="'At Least One Legendary'" [count]="1" [rarity]="'lgnd'" [cost]="'norm'"></pr-card>
    <pr-card class="column legend" [name]="'At Least Two Commons'" [count]="2" [rarity]="'comn'" [cost]="'norm'"></pr-card>
    <pr-card class="column legend" [name]="'At Least Two Rares'" [count]="2" [rarity]="'rare'" [cost]="'norm'"></pr-card>
    <pr-card class="column legend" [name]="'At Least Two Epics'" [count]="2" [rarity]="'epic'" [cost]="'norm'"></pr-card>
  </div>
</pr-legend>
