.ui {
  &.menu {
    &.no-radius {
      border-radius: 0;
    }
  }

  &.button {
    &.uppercase {
      text-transform: uppercase;
    }
  }

  &.segment {
    &.mini {
      padding: 0.3em 0.7em;

      &.centered {
        padding: 0.6em 0.7em;
      }
    }
  }

  &.grid {
    &.collapsed {
      .column:not(.row) {
        padding: 0.3em !important;
      }

      .row {
        padding: 0.3em 0 !important;
      }
    }

    .row.collapsed {
      margin: -0.3em 0;

      &.twice {
        margin: -0.6em 0;
      }
    }

    &:not(.padded) {
      margin: -0.3em;
    }
  }

  &.table {
    &.stack-with-columns {
      @media only screen and (min-width: 768px) {
        .inline-heading {
          display: none;
        }
      }

      @media only screen and (max-width: 767px) {
        thead {
          display: none;
        }

        .inline-heading {
          display: inline-block;
        }
      }
    }
  }
}
