.ui {
  &.menu {
    &.no-radius {
      border-radius: 0;
    }
  }

  &.button {
    &.uppercase {
      text-transform: uppercase;
    }
  }

  &.segment {
    &.mini {
      padding: 0.3em 0.7em;

      &.centered {
        padding: 0.6em 0.7em;
      }
    }
  }
}
