@import './app/mixins';

body {
  overflow-y: scroll;
}

.ui {
  &.menu {
    &.no-radius {
      border-radius: 0;
    }
  }

  &.segment {
    &.mini {
      padding: 0.3em 0.7em;

      &.centered {
        padding: 0.6em 0.7em;
      }

      &:not(.inverted) {
        //unpad borders
        padding: (0.3em - (2/11)) (0.7em - (1/11)) (0.3em - (1/11));
      }
    }
  }

  &.grid {
    &.collapsed {
      .column:not(.row) {
        padding: 0.3em !important;
      }

      .row {
        padding: 0.3em 0 !important;
      }
    }

    .row.collapsed {
      margin: -0.3em 0;

      &.twice {
        margin: -0.6em 0;
      }
    }

    &:not(.padded) {
      margin: -0.3em;
    }
  }

  &.table {
    &.stack-with-columns {
      @media only screen and (min-width: 768px) {
        .inline-heading {
          display: none;
        }
      }

      @media only screen and (max-width: 767px) {
        thead {
          display: none;
        }

        .inline-heading {
          display: inline-block;
        }
      }
    }
  }
}

.percentage {
  opacity: 0.75;
  font-size: 0.9em;
  font-style: italic;
}

.clickable {
  cursor: pointer;
}

.uppercase {
  @include increase-specificity(2) {
    text-transform: uppercase;
  }
}
